.bambora_title {
    font-size: 1.4rem;
    font-weight: bold;
}

.bambora_paymentcard {
    height: 17px;
    position: relative;
    vertical-align: middle;
}

.bambora_action_container {
    line-height: 2.6rem;
}

.bambora-method > .entry-edit-head > .config-heading .heading strong {
    padding-left: 134px;
    background: url(images/bambora-logo.png) no-repeat 0 0;
    -ms-background-size: 127px 40px;
    background-size: 127px 40px;
    line-height: 44px;
}
