<?xml version="1.0"?>
<!--
/**
 * 888                             888
 * 888                             888
 * 88888b.   8888b.  88888b.d88b.  88888b.   .d88b.  888d888  8888b.
 * 888 "88b     "88b 888 "888 "88b 888 "88b d88""88b 888P"       "88b
 * 888  888 .d888888 888  888  888 888  888 888  888 888     .d888888
 * 888 d88P 888  888 888  888  888 888 d88P Y88..88P 888     888  888
 * 88888P"  "Y888888 888  888  888 88888P"   "Y88P"  888     "Y888888
 *
 * @category    Online Payment Gatway
 * @package     Bambora_Online
 * @author      Bambora Online
 * @copyright   Bambora (http://bambora.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <payment>
      <bambora_checkout>
        <active>0</active>
        <model>Bambora\Online\Model\Method\Checkout\Payment</model>
        <title>Bambora Checkout</title>
        <paymentwindowid>1</paymentwindowid>
        <instantcapture>0</instantcapture>
        <instantinvoice>0</instantinvoice>
        <instantinvoicemail>0</instantinvoicemail>
        <immediateredirecttoaccept>0</immediateredirecttoaccept>
        <addsurchargetopayment>0</addsurchargetopayment>
        <sendmailorderconfirmation>1</sendmailorderconfirmation>
        <remoteinterface>1</remoteinterface>
        <sort_order>1</sort_order>
        <windowstate>1</windowstate>
        <group>bambora</group>
      </bambora_checkout>
      <bambora_epay>
        <active>0</active>
        <model>Bambora\Online\Model\Method\Epay\Payment</model>
        <title>ePay | Payment solutions</title>
        <paymentwindowid>1</paymentwindowid>
        <instantcapture>0</instantcapture>
        <instantinvoice>0</instantinvoice>
        <instantinvoicemail>0</instantinvoicemail>
        <paymentgroup>0</paymentgroup>
        <ownreceipt>0</ownreceipt>
        <addsurchargetopayment>0</addsurchargetopayment>
        <remoteinterface>1</remoteinterface>
        <enableinvoicedata>0</enableinvoicedata>
        <sendmailorderconfirmation>1</sendmailorderconfirmation>
        <sort_order>1</sort_order>
        <windowstate>3</windowstate>
        <timeout>60</timeout>
        <group>bambora</group>
      </bambora_epay>
      <bambora_advanced>
        <model>Bambora\Online\Model\Method\BamboraAdvanced</model>
        <title>Bambora Advanced</title>
        <order_status>processing</order_status>
        <order_status_pending>pending_payment</order_status_pending>
        <masscaptureinvoicemail>1</masscaptureinvoicemail>
        <group>bambora</group>
      </bambora_advanced>
    </payment>
  </default>
</config>
