<?xml version="1.0"?>
<!--
/**
 * Bambora Online 
 * 
 * @category    Online Payment Gatway
 * @package     Bambora_Online_Checkout
 * @author      Bambora
 * @copyright   Bambora (http://bambora.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <payment>
      <bambora_checkout>
        <active>0</active>
        <model>Bambora\Online\Model\Method\Checkout\Payment</model>
        <title>Bambora Checkout</title>
        <paymentwindow_id>1</paymentwindow_id>
        <instant_capture>0</instant_capture>
        <immediateredirecttoaccept>0</immediateredirecttoaccept>
        <sort_order>1</sort_order>
        <order_status>processing</order_status>
        <order_status_pending>pending_payment</order_status_pending>
        <window_state>1</window_state>
      </bambora_checkout>
    </payment>
  </default>
</config>
