<?xml version="1.0"?>
<!--
/**
 * 888                             888
 * 888                             888
 * 88888b.   8888b.  88888b.d88b.  88888b.   .d88b.  888d888  8888b.
 * 888 "88b     "88b 888 "888 "88b 888 "88b d88""88b 888P"       "88b
 * 888  888 .d888888 888  888  888 888  888 888  888 888     .d888888
 * 888 d88P 888  888 888  888  888 888 d88P Y88..88P 888     888  888
 * 88888P"  "Y888888 888  888  888 88888P"   "Y88P"  888     "Y888888
 *
 * @category    Online Payment Gatway
 * @package     Bambora_Online
 * @author      Bambora Online
 * @copyright   Bambora (http://bambora.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <type name="Bambora\Online\Logger\BamboraHandler">
    <arguments>
      <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
    </arguments>
  </type>
  <type name="Bambora\Online\Logger\BamboraLogger">
    <arguments>
      <argument name="name" xsi:type="string">Bambora</argument>
      <argument name="handlers"  xsi:type="array">
        <item name="system" xsi:type="object">Bambora\Online\Logger\BamboraHandler</item>
      </argument>
    </arguments>
  </type>
</config>