.bambora_paymentcards_container {
    display: block;
}

.bambora_checkout_paymenttype {
    padding: 6px 3px 6px 0;
    max-width: 50px;
}
.bambora_info_title {
    font-weight: 600;
}

.bambora_info_body {
    font-style: italic;
}